.videoContainer{
    flex-basis: 200%;
    width: 100%;
}

.iframe{
    width: 100%;
    height: 500px;
}

.title{
    color: #C1F4C5;
    font-size: 2rem;
    line-height: 2.5rem;
}

.channelTitle{
    color:#FFBED8;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.description{
    color:#FF7BA9;
    font-size: 15px;
    line-height: 2rem;
    letter-spacing: 2.3px;
}