*{
    box-sizing: border-box;
}

span,h1,h2,h3,h4,h5,h6,p{
    cursor: default;

}

body{
    margin: 0;
}

button,input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

.app{
    width: 100%;
    padding: 0 20%;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}